@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

body {
  background-color:#efefef;color:#171819;transition: background-color 150ms ease-out;
  font-family: "Pretendard Variable", Pretendard, "Malgun Gothic", 'Noto Sans KR', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
.dark body {background-color:#171819; color:#efefef;}
