@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {background-color:#efefef;color:#171819;transition: background-color 150ms ease-out;} .dark body {background-color:#171819; color:#efefef;}

@media (prefers-color-scheme: dark) {
  .loading body { background-color:#171819; color:#efefef;}
}
