name: deploy pages
on:
  push:
    branches:
      - main
    paths:
      - games/*.yaml

jobs:
  permissions:
    contents: read
    pages: write
    id-token: write
  runs-on: ubuntu-latest
  steps:
    - uses: actions/checkout@v3
    - uses: oven-sh/setup-bun@v1
      with:
        bun-version: latest
    - run: bun install
    - run: bun run build
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./build/client